/* ResultPanel */
:root{
	--rp_panel-width: 100%;
	--rp_panel-height: 110px;
	--rp_panel-open: 0px;
	--rp_panel-close: -110px;
	--rp_1force-width: 100px;
}

.rp_panel{
	width: var(--rp_panel-width); height: var(--rp_panel-height);
	margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;
	position: absolute; top: var(--rp_panel-close);;
	/*background-color: rgba(255, 255, 255, 0.3); border-radius: 0px 0px 10px 10px;*/
	color: midnightblue;
}

.rp_toggle{
	width: 32px; height: 32px;
	margin: 0px; padding: 0px;
	position: absolute; 
	left: calc(var(--rp_panel-width) - 40px); top: var(--rp_panel-height);
}

.rp_panel_open{
	top: var(--rp_panel-open);
	transition: 0.5s;
}

.rp_panel_close{
	top: var(--rp_panel-close);
	transition: 0.5s;
}

.rp_5forces{
	width: auto; height: auto;
	margin: 5px 5px 0px 0px; padding: 0px 0px 0px 0px;
	position: absolute; right: 0px; display: flex;
	/*background-color: rgba(100, 200, 100, 0.4); border-radius: 0px;*/
}

.rp_1force{
	width: var(--rp_1force-width); height: var(--rp_1force-width);
	margin: 0px 0px 0px 4px; padding: 0px 0px 0px 0px;
	position: relative; right: 0px;
	background-color: rgba(255, 255, 255, 0.4); border-radius: 10px;
}

.rp_1force_title{
	width: 100%; height: auto;
	margin: auto; padding: 4px 0px 8px 0px;
	font-size: 1.2em; font-weight: bold;
	text-align: center;
}

.rp_1force_num{
	width: 100%; height: auto;
	margin: auto; padding: 4px 0px 8px 0px;
	font-size: 3.0em; font-weight: bold; line-height: 0.5;
	text-align: center;
}

.rp_1force_text{
	width: 100%; height: auto;
	margin: auto; padding: 4px 0px 8px 0px;
	font-size: 0.8em; font-weight: bold; line-height: 1.2;
	text-align: center;
}

.rp_1force_chart{
	width: var(--rp_1force-width); height: var(--rp_1force-width);
	margin: auto; padding: 0px;
	position: absolute; left: 0px;
	/*background: rgba(255, 255, 255, 0.1);*/
}

.rp_1force_chart svg{
	width: 100%; height: 100%;
	margin: auto; padding: 0px;
	position: absolute; left: 0px;
}

/*
.rp_title{
	width: 100%; height: auto;
	margin: auto; padding: 4px 0px 8px 0px;
	font-size: 1.2em; font-weight: bold;
	text-align: center;
}

.rp_ul{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
	position: relative; left: 0px; top: 0px;
	font-size: 1.0em; font-weight: bold;
}

.rp_li{
	width: auto; height: auto;
	margin: 0px; padding: 5px 30px;
	text-align: center;
}

.rp_detail_table{
	width: 100%; height: auto;
	margin: 0px 0px 0px 0px; padding: 0px;
	font-size: 1.0em; font-weight: bold;
	line-height: 1.2;
}

.rp_td_side{
	width: 14%; height: auto;
	margin: 0px; padding: 0px;
	text-align: center;
}

.rp_bar_box{
	width: 100%; height: 10px;
	margin: 0px; padding: 0px;
	background-color: blue; border-radius: 5px;
}

.rp_bar_meter{
	width: 50%; height: 10px;
	margin: 0px; padding: 0px;
	background-color: yellow; border-radius: 5px 0px 0px 5px;
}
*/