/* CSS */

html{
	width: 100%; height: 100%;
}

body{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
}

#log{
	width: auto; height: auto;
	margin: 0px; padding: 5px;
	position: absolute;
}

#log ul{
	margin: 0px; padding: 0px;
}

#log li{
	list-style-type:none;
	font-size: small; color: gray;
}

#outer{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inner{
	width: auto; height: auto;
	margin: 0px; padding: 20px;
	text-align: center;
}

#banner{
	width: 100%; height: auto;
	margin: 0px; padding: 20px 0px;
	position: absolute; bottom: 0px;
	text-align: center; font-weight: bold;
	font-size: x-large; color: white;
	background-color: silver; opacity: 0.8;
	z-index: 9999;
}