.Disp {
  width: 100%; height: 100%;
  margin: 0px; padding: 0px;
  background: cadetblue;
  position: absolute; 
  display: flex; flex-flow: column;
  justify-content: center; align-items: center;
}

.Disp-Greeting {
  width: auto; height: auto;
  margin: 0px; padding: 0px;
  background: blueviolet; color: white;
}

.Disp-Logo {
  width: 120px; height: auto;
  margin: 0px; padding: 0px;
  background: darkblue; color: white;
}

.Disp-Clock {
  background: midnightblue; color: white;
  font-family: "San Francisco", Sans-Serif;
  font-size: 1em; font-weight: bold;
  text-align: center;
}